*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.cartas{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    animation: aparecer 3s ease;
}

@media(max-width:768px){
.cartas{
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    }
}

@media(max-width:768px){
.cartas-mob{
    margin: 50px 0px;
    }
}

#carta1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, yellow, rgb(133, 133, 0));
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    border: 1px groove white ;
    transition: box-shadow;
    transition-duration: 400ms;
}

#carta1:hover{
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

#carta2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, red, rgb(133, 0, 0));
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    border: 1px groove white ;
    transition: box-shadow;
    transition-duration: 400ms;
}

#carta2:hover{
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

#carta3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, blue, rgb(0, 0, 133));
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    border: 1px groove white ;
    transition: box-shadow;
    transition-duration: 400ms;
}

#carta3:hover{
    box-shadow: 0px 0px 15px white;
    cursor: pointer;
}

img{
    width: 200px;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


